---
import type { GetStaticPaths } from "astro";
import MainLayout from '../../layout/MainLayout.astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list.response';
import PokemonCard from '../../components/pokemons/PokemonCard.astro';

export const getStaticPaths = ( async ({ paginate }) => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
    const { results }= (await resp.json()) as PokemonListResponse ;

    return paginate(results, { pageSize: 15 })
}) satisfies GetStaticPaths;

const title = 'Pokemon-Static | Home'
const { page } = Astro.props;
---

<MainLayout title={title}>
    <h1 class="text-3xl ">Listado de Pokemons</h1>
    <hr />
    <section
        aria-label="Listado de Pokemons"
        class="grid grid-cols-1 gap-4 sm:grid-cols-4 md:grid-cols-5 mt-5"
    >
        {page.data.map(({ name, url }) => (
            <PokemonCard 
                name={name} 
                url={url}
            />

        ))}

    </section>
    <section class="flex gap-2 items-center mt-10">
    
        <a 
            class:list={[
                'btn',
                { 
                    'disabled': !page.url.prev, 
                },
                
            ]}
            href={page.url.prev}
        >
            Anterior
        </a>
        <a 
            class:list={[
                'btn',
                { 
                    'disabled': !page.url.next, 
                },
                
            ]}
            href={page.url.next}
        >
            Siguiente
        </a>
        

        <div class="flex flex-1"></div>
        <span>Pagina {page.currentPage}</span>
  
    </section>

     

</MainLayout>

<style>
    .btn{
        @apply bg-pink-400 text-white p-2 rounded-md ;
    }
    .disabled{
        @apply bg-gray-400 text-gray-800 p-2 rounded-md ;
    }
</style>